@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Ms+Madi&display=swap');

:root {
  --text: rgb(239, 229, 234);
  --background: rgb(11, 5, 8);
  --primary: rgb(216, 158, 179);
  --secondary: rgb(101, 165, 176);
  --accent: rgb(114, 166, 144);
  --mainFont: "Gowun Dodum", sans-serif;
  --titleFont: "Ms Madi", cursive;
}
body {
  margin: 0;
  font-family:var(--mainFont);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);  
  color: #fff;
  height: 100vh;
  overflow: hidden;
}
#container {
  text-align: center;
  position: relative;
}
.durations{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

#controls {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 10%;
  z-index: 999;
}
.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.slider-label {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 5px;
}

/* Sliders */
input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 8px;
  background: white;
  border-radius: 5px;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  z-index: 999;
}
h1{
  text-align: center;
  color: var(--text);
  font-family: var(--titleFont);
  font-size: 5rem;
  animation-duration: 1s;
  margin: 0;

}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #80c9e8;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background:var(--secondary);
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); 
  align-items: center;
  justify-content: center;
}
h2{
  text-align: center;
}

.modal-content {
  background-color: rgb(101, 165, 176);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  /* text-align: center; */
  color: #000000;
  font-family: var(--mainFont);
}

.close-button {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #d4d4d4;
  text-decoration: none;
}

li{
  text-align: left;
}


#start-button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid var(--secondary);
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: var(--secondary);
  cursor: pointer;
  display: block;
  font-family: var(--mainFont);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 0 auto;
  color: black;
}

#start-button :hover,
#start-button :focus {
  background-color: black;
  color: var(--background);
}

#modal-start-button :focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#modal-start-button:active {
  background-color: var(--secondary);
  box-shadow: none;
  color: #2c5777;
}